{% extends 'landingpage/layout-static.html' %}
{% block content %}
{% load static %}
<div class="card mb-4">
    <div class="card-body">
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0" method="get" action="{% url 'searchEan' %}">
            <div class="input-group">
                <input class="form-control" type="text" name="q" placeholder="Search Ean..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </form>
        <form class="d-inline-block d-md-none form-inline ms-auto me-0 me-md-3 my-2 my-md-0" method="get" action="{% url 'searchEan' %}">
            <div class="input-group">
                <input class="form-control" type="text" name="q" placeholder="Search Ean..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </form>
    </div>
</div>

<br>

<div class="ml-auto">
    <h1>Ubicaciones Ingresadas:</h1>

    <a href="{% url 'export_csv' %}" class="btn btn-light float-right">Descargar CSV</a>
    <a href="{% url 'confirmar_actualizacion' %}" class="btn btn-success float-right">Confirmar Actualizacion</a>
    <a href="{% url 'eliminar_base' %}" class="btn btn-danger float-right" onclick="return confirmarEliminar('base')">Eliminar Base</a>
    <a href="{% url 'select_lbi' %}" class="btn btn-dark float-right">Agregar Eans</a>
</div>
<br>

{% if eans %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Ean Label</th>
                <th>RACK Label</th>
                <th>Date Label</th>
                <th>Load Status</th>
                <th>Colaborador</th>
                <th>Tienda</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {% for e in eans %}
                <tr>
                    <td>{{ e.id }}</td>
                    <td>{{ e.ean_code }}</td>
                    <td>{{ e.lbi }}</td>
                    <td>{{ e.created_at }}</td>
                    <td>{{ e.is_loaded }}</td>
                    <td>{{ e.colaborador.Nombre }}</td>
                    <td>{{ e.colaborador.Tienda }}</td>
                    <td>
                        <a href="{% url 'update_location' pk=e.pk %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'eliminar_ean' pk=e.pk %}" class="btn btn-danger" onclick="return confirmarEliminar('ean')">Delete Ubication</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No hay ubicaciones disponibles.</p>
{% endif %}

<script>
    function confirmarEliminar(tipo) {
        var confirmacion = tipo === 'base'
            ? confirm("¿Estás seguro de que deseas eliminar toda la Base?")
            : confirm("¿Estás seguro de que deseas eliminar este Ean?");
        return confirmacion;
    }
</script>

{% endblock %}
