{% extends 'landingpage/layout-static.html' %}
{% block content %}
{% load static %}

<h1>Ubicaciones Ingresadas:</h1>

{% if eans %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Ean Label</th>
                <th>RACK Label</th>
                {% comment %}
                <!-- <th>Acciones</th> -->
                {% endcomment %}
            </tr>
        </thead>
        <tbody>
            {% for e in eans %}
                <tr>
                    <td>{{ e.id }}</td>
                    <td>{{ e.ean_code }}</td>
                    <td>{{ e.lbi }}</td>
                    <td>

                    </td>
                    {% comment %}
                    <!-- <td>
                        <form class="card">
                            <a href="{% url 'ubication_confirm_delete' pk=l.pk %}" class="btn btn-danger">Delete Ubication</a>
                            <a href="{% url 'update_ubication' pk=l.pk %}" class="btn btn-primary">Edit</a>
                        </form>
                    </td> -->
                    {% endcomment %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No hay ubicaciones disponibles.</p>
{% endif %}

{% endblock %}