{% extends 'landingpage/layout-static.html' %}

{% block content %}

{% if messages %}
  <div class="messages">
    {% for message in messages %}
      <div class="alert alert-success" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  </div>
{% endif %}

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center">Add New RACK</h2>
            <form method="post" class="mx-auto" style="max-width: 300px;">
              {% csrf_token %}
              {{ form.as_p }}
                <div class="card">
                  <button type="submit" class="btn btn-primary btn-sm btn-block mt-4">Save RACK</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
